*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #2a5a68; 
    background-image: url("https://fondosmil.com/fondo/17040.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 105vh;
    opacity: 0.7;
}
.app {
  text-align: center;
  color: #eee;
}
.lista__tareas {
  padding: 20px;
}
ul, li {
  list-style: none;
}
.div__hero {
  background: rgb(143,43,214);
  background: linear-gradient(90deg, rgba(143,43,214,1) 0%, rgba(174,83,200,1) 37%, rgba(255,255,255,1) 79%);
  padding: 8px;
  border-bottom: black solid 2px;
  color: black;
  max-width: 900px;
  margin: auto;
  border-radius: 5px;
}
.ul__hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Tarea terminada / TaskCheck */
.xd {
    min-width: 47px;
    height: 47px;
    border-radius: 80%;
    cursor: pointer;
    fill: green;
}
.flex {
  border: none;
  background-color: inherit;
  font-weight: 700;
}
/* Tarea Tachada */
.taskCompleted {
  text-decoration: line-through;
}
/* Div de Restantes y de Borrar todas las tareas terminadas */
.div__clearcomplete {
  background: linear-gradient(90deg, rgba(143,43,214,1) 0%, rgba(174,83,200,1) 37%, rgba(255,255,255,1) 79%);
  color: #eee;
  font-weight: 700;
  padding: 10px;
  justify-content: space-between;
  display: flex;
  max-width: 897px;
  margin: auto;
}
/* Div de Restantes y de Borrar todas las tareas terminadas */
.button__clearcomplete {
  cursor: pointer;
  background-color: rgb(143 43 214);
  color: #ffffff;
  font-size: 1em;
  font-weight: 700;
  border-radius: 5px;
}
.button__clearcomplete:hover {
  transition: all .6s;
  margin-right: 2em;
  scale: 1.2;
}
/* Icono + para agregar Tareas */
.agregar__tarea {
  position: absolute;
  bottom: 5vh;
  right: 5vh;
  border-radius: 100%;
  min-width: 70px;
  height: 70px;
  cursor: pointer;
  background-color: rgb(143 43 214);
  fill: #eeeeee;
  box-shadow: 0px 0px 7px 2px black;
}
.input__task {
  padding: 5px;
  border-radius: 5px;
  width: 14em;
}
.input__time {
  padding: 3.5px;
  color: red;
  border-radius: 5px;
}
.condicional {
  padding: .5em;
  font-size: 1.5em;
}
/* CONTENEDOR DE CUANDO NO TENEMOS TAREAS */
.contenedor__notask {
  max-width: 56em;
  background-color: rgb(192, 112, 199);
  margin: auto;
  color: #ffffff;
  padding: 40px;
}
.contenedor__notask--h2 {
  margin: 20px;
}
.select {
  font-weight: 700;
  padding: 5px;
  border-radius: 5px;
}
.prio__alta {
    color: #ff0000;
    font-weight: 800;
    font-family: revert;
    font-size: 1.3em;
}

.prio__media {
    color: #bb9b00;
    font-weight: 800;
    font-family: revert;
    font-size: 1.3em;
}

.prio__baja {
    color: #23b523;
    font-weight: 800;
    font-family: revert;
    font-size: 1.3em;
}

/* MEDIA QUERIES */

@media (min-width: 471px) and (max-width: 1090px) {
  .agregar__tarea {
    top: 5vh;
  }
}

@media (max-width: 600px) {
  .ul__hero {
    display: block;
  }
  .flex {
    padding: 6px;
  }
}